*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: 'Noto Serif TC', sans-serif;
}

h1,h2,h3,h4,h5,h6,h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans TC',sans-serif;
}


div#redred{
    padding-bottom: 50px;
    padding-top: 30px;
    margin: 100px 100px 50px 100px;

    color:#d94848;
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    background-color:gold;
    border: 10px solid;
    border-color:black ;

}

.blueblue{
    color:white;
}



.expedu_icon{
    color:red
}

.expedu_icon:hover{
    background-color: red;
    color:white
    }

    .bg-primary {
        background-color: black !important;
    background-image: url(../assets/img/新的背景.jpg);
    background-repeat: no-repeat;
    background-size: cover
      }

      table.davidtable{
        width: 80%;
        background-color: aquamarine;
      }

      table.davidtable th{
        text-align: center;
        background-color: black;
        border: 1px solid #2a5d44;
      }

      table.davidtable td{
        text-align: center;
        border: 1px solid #2a5d44;
      }

      table.davidtable tr:nth-child(even) {
        background-color: yellow;
      }

      table.davidtable tr:nth-child(odd) {
        background-color: white;
      }

      .david123{
        width: 80px;
        margin: 100px auto;
      }

      .custom-purple {
        color: #9370db;
      }
     

         
          